<h3>Estadísticas de la aplicación</h3>
<p>Número total de preguntas: <%=n_preg%></p>
<p>Número total de comentarios: <%=n_comm%></p>
<p>Número medio de comentarios por pregunta: <%=avg_comm%></p>
<p>Número de preguntas sin comentarios: <%=n_preg_nocomm%></p>
<p>Número de preguntas con comentarios: <%=n_preg_comm%></p>





